<html>
    <head>
        <title>Webcomponent example</title>
        <link href="style.css" rel="stylesheet">
        <script src="bundle.js"></script>
    </head>
    <body>
        {{> pdp-frame }}
    </body>
</html>
